body {
  margin: 0;
  padding: 0;
  background: black;
  background-repeat:no-repeat;
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  width: 100vw;
}

a{
  position:relative;
  font-family:  Comforter, cursive;
  font-size: 10em;
  color:transparent;
 white-space:nowrap;
  color:#fff;
  text-decoration: none;
} 

a:before{
  content: attr(data-text);
  position:absolute;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: linear-gradient(to right, #F72585, #B5179E, #7209B7,#560BAD, #480CA8,#3A0CA3,#3F37C9,#4361EE, #4895EF, #4CC9F0);
  -webkit-background-clip: text;
  background-clip: text;
  color:transparent;
  background-size: 250%;
  background-position: -100%;
  animation: mymove 4s infinite alternate-reverse;
  filter: blur(30px);
}

@keyframes mymove {
  from{
    background-position: 0%;
  }
  to{
    background-position: 100%;
  }
}
